<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Chraft.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Chraft.Properties.Settings>
            <setting name="Port" serializeAs="String">
                <value>25565</value>
            </setting>
            <setting name="IPAddress" serializeAs="String">
                <value>0.0.0.0</value>
            </setting>
            <setting name="MOTD" serializeAs="String">
                <value>Welcome to C#raft, %u!</value>
            </setting>
            <setting name="SightRadius" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="WorldSeed" serializeAs="String">
                <value>1419875491758983</value>
            </setting>
            <setting name="SpawnX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SpawnY" serializeAs="String">
                <value>128</value>
            </setting>
            <setting name="SpawnZ" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LogFileFormat" serializeAs="String">
                <value>{0:yyyy-MM-dd HH:mm:ss} [{1}] {2}</value>
            </setting>
            <setting name="LogConsoleFormat" serializeAs="String">
                <value>{0:HH:mm:ss} [{1}] {2}</value>
            </setting>
            <setting name="LogFile" serializeAs="String">
                <value>server.log</value>
            </setting>
            <setting name="LogFileLevel" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="PluginFolder" serializeAs="String">
                <value>Plugins</value>
            </setting>
            <setting name="WorldsFolder" serializeAs="String">
                <value>Worlds</value>
            </setting>
            <setting name="DefaultWorldName" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="PlayersFolder" serializeAs="String">
                <value>Players</value>
            </setting>
            <setting name="AnimalSpawnInterval" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="ItemsFile" serializeAs="String">
                <value>Resources/Items.csv</value>
            </setting>
            <setting name="DefaultStackSize" serializeAs="String">
                <value>64</value>
            </setting>
            <setting name="RecipesFile" serializeAs="String">
                <value>Resources/Recipes.dat</value>
            </setting>
            <setting name="LoadFromSave" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IrcEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IrcServer" serializeAs="String">
                <value>irc.esper.net</value>
            </setting>
            <setting name="IrcChannel" serializeAs="String">
                <value>#C#raft</value>
            </setting>
            <setting name="IrcNickname" serializeAs="String">
                <value>ChraftBot</value>
            </setting>
            <setting name="IrcPort" serializeAs="String">
                <value>6667</value>
            </setting>
            <setting name="AllowedChatChars" serializeAs="String">
                <value>abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUV_ -=+~!@#$%^&amp;*()1234567890\[]{}|;':"",./&lt;&gt;?áéíóúäëïöüÁÉÍÓÚÄËÏÖÜÆæ</value>
            </setting>
            <setting name="MaxPlayers" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ServerName" serializeAs="String">
                <value>C#raft</value>
            </setting>
            <setting name="WeatherChangeFrequency" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ContainersFolder" serializeAs="String">
                <value>Containers</value>
            </setting>
            <setting name="SmeltingRecipesFile" serializeAs="String">
                <value>Resources/Smelting.dat</value>
            </setting>
            <setting name="UseOfficalAuthentication" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LogConsoleLevel" serializeAs="String">
                <value>3</value>
            </setting>
        </Chraft.Properties.Settings>
    </userSettings>
</configuration>