<?xml version="1.0" encoding="utf-8"?>
<Nini>
  <Section Name="ServerSetup">
    <Key Name="MOTD" Value="Welcome to c#raft" />
    <Key Name="UseOfficalAuthentication" Value="True" />
    <Key Name="EncryptionEnabled" Value="True" />
    <Key Name="Port" Value="25565" />
    <Key Name="IPAddress" Value="0.0.0.0" />
    <Key Name="MaxPlayers" Value="100" />
    <Key Name="ServerName" Value="C#raft" />
    <Key Name="MaxSightRadius" Value="8" />
    <Key Name="EnableUserSightRadius" Value="True"/>
    <Key Name="WorldSeed" Value="1419875491758983" />
    <Key Name="SpawnX" Value="0" />
    <Key Name="SpawnY" Value="128" />
    <Key Name="SpawnZ" Value="0" />
    <Key Name="DefaultWorldName" Value="Default" />
    <Key Name="AnimalSpawnInterval" Value="3000" />
    <Key Name="LoadFromSave" Value="True" />
    <Key Name="WeatherChangeFrequency" Value="1" />
    <Key Name="ServerTextureUrl" Value="" />
    <Key Name="WhiteList" Value="false"/>
    <Key Name="WhiteListMessage" Value="Whitelist mode has been enabled"/>
  </Section>
  <Section Name="LoggingSetup">
    <Key Name="LogFileFormat" Value="{0:yyyy-MM-dd HH:mm:ss} [{1}] {2}" />
    <Key Name="LogConsoleFormat" Value="{0:HH:mm:ss} [{1}] {2}" />
    <Key Name="LogFile" Value="server.log" />
    <Key Name="LogFileLevel" Value="-1" />
    <Key Name="LogConsoleLevel" Value="1" />
  </Section>
  <Section Name="FolderSetup">
    <Key Name="PluginFolder" Value="Plugins" />
    <Key Name="WorldsFolder" Value="Worlds" />
    <Key Name="PlayersFolder" Value="Players" />
    <Key Name="ContainersFolder" Value="Containers" />
  </Section>
  <Section Name="GeneralSetup">
    <Key Name="AllowedChatChars" Value="abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUV_ -=+~!@#$%^&amp;*()1234567890\[]{}|;':"/>
    <Key Name="SmeltingRecipesFile" Value="Resources/Smelting.dat" />
    <Key Name="ItemsFile" Value="Resources/Items.csv" />
    <Key Name="DefaultStackSize" Value="64" />
    <Key Name="RecipesFile" Value="Resources/Recipes.xml" />
  </Section>
</Nini>
